# Import Packages

In [1]:
import pandas as pd
import numpy as np
import turicreate as tc

# Read the Files and Preparing the Data

In [2]:
post = pd.read_csv('posts (1).csv')
user_ratings = pd.read_csv('userRatings.csv', usecols=['user_id', 'post_id', 'Ratings'])

Display the first 5 rows of the post dataset

In [3]:
post.head(5)

,user_id,title,content,tags,slug,created_at,updated_at,image,status_id,action,post_id
0,2077,What i have learnt so far on HTML,I learnt how to use the table tag as i have us...,NaN,what-i-have-learnt-so-far-on-html-985,2019-08-25 19:39:01,2019-08-28 11:30:00,1,NaN,NaN,NaN
1,1719,HTML BEGINS HERE,"I am on this journey with start.ng, and here ...",Technology,html-begins-here-4d6,2019-08-25 19:44:36,2019-08-28 11:30:00,1,NaN,NaN,NaN
2,1310,My Laziness In The Open,I have not been attending classes on the HNG c...,NaN,my-laziness-in-the-open-029,2019-08-25 19:50:33,2019-08-28 11:30:00,1,NaN,NaN,NaN
3,1787,MY TASK 2,My journey on **StartNG** pre-internship progr...,NaN,my-task-2-649,2019-08-25 19:51:36,2019-08-28 11:30:00,1,NaN,NaN,NaN
4,167,Task 2,"A Summary on The “idongesit.html” CV, Its Str...",NaN,task-2-7e5,2019-08-25 19:51:39,2019-08-28 11:30:00,1,NaN,NaN,NaN

Drop this columns because they are not relevant to our model

In [4]:
col = ['tags', 'slug', 'created_at', 'updated_at', 'image', 'status_id', 'action', 'post_id']

postdf = post.drop(post[col], axis=1)

Read the first 5 cols of the new dataset

In [5]:
postdf.head()

,user_id,title,content
0,2077,What i have learnt so far on HTML,I learnt how to use the table tag as i have us...
1,1719,HTML BEGINS HERE,"I am on this journey with start.ng, and here ..."
2,1310,My Laziness In The Open,I have not been attending classes on the HNG c...
3,1787,MY TASK 2,My journey on **StartNG** pre-internship progr...
4,167,Task 2,"A Summary on The “idongesit.html” CV, Its Str..."

Display the first 5 rows of the user_ratings dataset

In [6]:
user_ratings.head()

   user_id  post_id  Ratings
0        1    995.0        5
1        1    355.0        2
2        1    996.0        4
3        1    996.0        5
4        1    996.0        4

Merge our postdf and user ratings df

In [7]:
merged_col = pd.merge(postdf, user_ratings, on='user_id')

Display the head of our merged dataframe

In [8]:
merged_col.head()

,user_id,title,content,post_id,Ratings
0,2191,What you have learned so far,"1. I have learnt how to publish and article, ...",143.0,3
1,2191,What you wish to still learn,1. I want more insight on clodinary and so on,143.0,3
2,2191,What you wish should be improved,1. For now am OK with the setting,143.0,3
3,4,Good Afternoon People,Hey,999.0,4
4,4,Good Afternoon People,Hey,278.0,3

In [9]:
#number of users

users = post['user_id'].unique() ; print("number of users" , len(users))

number of users 308

In [10]:
#number of content titles

titles = post['title'].unique() ; print("Number of titles" , len(titles))

Number of titles 658

In [11]:
#train_data, test_data = train_test_split(merged_col, test_size = 0.20, random_state=0)

Convert merged data to csv

In [12]:
merged_col.to_csv('merged_data.csv')

Reading back the csv file and converting it to Sframe for use by the turicreate model

In [13]:
data = tc.SFrame.read_csv('merged_data.csv')

Finished parsing file /home/godwin/Downloads/luci/merged_data.csv

Parsing completed. Parsed 100 lines in 0.066728 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,int,str,str,float,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /home/godwin/Downloads/luci/merged_data.csv

Parsing completed. Parsed 622 lines in 0.035917 secs.

# Model

Creating a train and validation data for our model

In [14]:
trainind_data, validation_data = tc.recommender.util.random_split_by_user(data, 'user_id', 'title')

Building the model using the ranking factorization recommender

In [15]:
rating_model = tc.ranking_factorization_recommender.create(trainind_data, 
                                                    user_id ='user_id',
                                                   item_id ='title',
                                                   target = 'Ratings')

Preparing data set.

    Data has 505 observations with 8 users and 45 items.

    Data prepared in: 0.056074s

Training ranking_factorization_recommender for recommendations.

+--------------------------------+--------------------------------------------------+----------+

| Parameter                      | Description                                      | Value    |

+--------------------------------+--------------------------------------------------+----------+

| num_factors                    | Factor Dimension                                 | 32       |

| regularization                 | L2 Regularization on Factors                     | 1e-09    |

| solver                         | Solver used for training                         | adagrad  |

| linear_regularization          | L2 Regularization on Linear Coefficients         | 1e-09    |

| ranking_regularization         | Rank-based Regularization Weight                 | 0.25     |

| max_iterations                 | Maximum Number of Iterations                     | 25       |

+--------------------------------+--------------------------------------------------+----------+

  Optimizing model using SGD; tuning step size.

  Using 505 / 505 points for tuning the step size.

+---------+-------------------+------------------------------------------+

| Attempt | Initial Step Size | Estimated Objective Value                |

+---------+-------------------+------------------------------------------+

| 0       | 10                | Not Viable                               |

| 1       | 2.5               | Not Viable                               |

| 2       | 0.625             | Not Viable                               |

| 3       | 0.15625           | Not Viable                               |

| 4       | 0.0390625         | No Decrease (1.86739 >= 1.85955)         |

| 5       | 0.00976562        | 1.54429                                  |

| 6       | 0.00488281        | 1.56352                                  |

| 7       | 0.00244141        | 1.63474                                  |

| 8       | 0.0012207         | 1.73245                                  |

+---------+-------------------+------------------------------------------+

| Final   | 0.00976562        | 1.54429                                  |

+---------+-------------------+------------------------------------------+

Starting Optimization.

+---------+--------------+-------------------+-----------------------+-------------+

| Iter.   | Elapsed Time | Approx. Objective | Approx. Training RMSE | Step Size   |

+---------+--------------+-------------------+-----------------------+-------------+

| Initial | 184us        | 1.85955           | 0.973506              |             |

+---------+--------------+-------------------+-----------------------+-------------+

| 1       | 5.88ms       | 0.970682          | 0.862132              | 0.00976562  |

| 2       | 8.265ms      | 0.848351          | 0.801776              | 0.00976562  |

| 3       | 12.099ms     | 0.811061          | 0.781959              | 0.00976562  |

| 4       | 17.661ms     | 0.785967          | 0.773155              | 0.00976562  |

| 5       | 19.476ms     | 0.774536          | 0.768284              | 0.00976562  |

| 10      | 31.54ms      | 0.74058           | 0.754515              | 0.00976562  |

| 25      | 62.585ms     | 0.688508          | 0.740457              | 0.00976562  |

+---------+--------------+-------------------+-----------------------+-------------+

Optimization Complete: Maximum number of passes through the data reached.

Computing final objective value and training RMSE.

       Final objective value: 1.56173

       Final training RMSE: 0.73646

Creating an item_similarity model, So we can compare the two models together

In [16]:
item_sim_model = tc.item_similarity_recommender.create(trainind_data, user_id='user_id', 
                                                       item_id='content', 
                                                       target='Ratings', similarity_type='cosine')

Warning: Ignoring columns X1, title, post_id;

    To use these columns in scoring predictions, use a model that allows the use of additional features.

Preparing data set.

    Data has 505 observations with 8 users and 51 items.

    Data prepared in: 0.0071s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 548us                          | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 28.874ms                            | 1.5              | 0               |

| 29.166ms                            | 100              | 51              |

+-------------------------------------+------------------+-----------------+

# Compare Both Models

In [17]:
tc.recommender.util.compare_models(validation_data, [rating_model,item_sim_model], metric='rmse')

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 0.093347s

PROGRESS: Evaluate model M0

Overall RMSE: 0.7293434771821536

Per User RMSE (best)
+---------+-------------------+-------+
| user_id |        rmse       | count |
+---------+-------------------+-------+
|    3    | 0.597710671837544 |   43  |
+---------+-------------------+-------+
[1 rows x 3 columns]


Per User RMSE (worst)
+---------+--------------------+-------+
| user_id |        rmse        | count |
+---------+--------------------+-------+
|    1    | 1.0986132743423718 |   2   |
+---------+--------------------+-------+
[1 rows x 3 columns]


Per Item RMSE (best)
+---------------+-------------------+-------+
|     title     |        rmse       | count |
+---------------+-------------------+-------+
| Lucid is live | 0.128095969219987 |   1   |
+---------------+-------------------+-------+
[1 rows x 3 columns]


Per Item RMSE (worst)
+--------+--------------------+-------+
| title  |        rmse        | count |
+--------+--------------------+-------+
| second | 1.5167927759948983 |   1   |
+--------+--------------------+-------+
[1 rows x 3 columns]

PROGRESS: Evaluate model M1

Overall RMSE: 0.7498322978272656

Per User RMSE (best)
+---------+------------------+-------+
| user_id |       rmse       | count |
+---------+------------------+-------+
|    3    | 0.54569278304564 |   43  |
+---------+------------------+-------+
[1 rows x 3 columns]


Per User RMSE (worst)
+---------+--------------------+-------+
| user_id |        rmse        | count |
+---------+--------------------+-------+
|    1    | 1.6013909969148696 |   2   |
+---------+--------------------+-------+
[1 rows x 3 columns]


Per Item RMSE (best)
+-------------------------------+---------------------+-------+
|            content            |         rmse        | count |
+-------------------------------+---------------------+-------+
| ![](/storage/2/images/img-... | 0.20472288131713867 |   2   |
+-------------------------------+---------------------+-------+
[1 rows x 3 columns]


Per Item RMSE (worst)
+-------------------------------+------+-------+
|            content            | rmse | count |
+-------------------------------+------+-------+
| second![](/storage/1/image... | 2.0  |   1   |
+-------------------------------+------+-------+
[1 rows x 3 columns]

[{'rmse_by_user': Columns:
  	user_id	int
  	rmse	float
  	count	int

  Rows: 4

  Data:
  +---------+--------------------+-------+
  | user_id |        rmse        | count |
  +---------+--------------------+-------+
  |    2    | 0.7581293190616205 |   65  |
  |    3    | 0.597710671837544  |   43  |
  |    1    | 1.0986132743423718 |   2   |
  |    7    | 1.0072452340455411 |   7   |
  +---------+--------------------+-------+
  [4 rows x 3 columns], 'rmse_by_item': Columns:
  	title	str
  	rmse	float
  	count	int

  Rows: 29

  Data:
  +-------------------------------+---------------------+-------+
  |             title             |         rmse        | count |
  +-------------------------------+---------------------+-------+
  |         Lucid is back         |  0.1903897955833166 |   3   |
  |         Stressful Day         |  0.5052079459086466 |   2   |
  |      Hello New Followers      |  0.1423483287206761 |   2   |
  |      How did your day go?     | 0.21722380511441933 |   3   |
  |          Class Day 1          |  0.6028607357203322 |   4   |
  |         Lucid is live         |  0.128095969219987  |   1   |
  |     My Experience In HTML     |  0.7716032671800545 |   9   |
  |        SHALLOW THINKING       |  0.7143178620482047 |   1   |
  |             second            |  1.5167927759948983 |   1   |
  | BUILD AROUND YOUR DISCOVER... |  0.8380757637400953 |   4   |
  +-------------------------------+---------------------+-------+
  [29 rows x 3 columns]
  Note: Only the head of the SFrame is printed.
  You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns., 'rmse_overall': 0.7293434771821536},
 {'rmse_by_user': Columns:
  	user_id	int
  	rmse	float
  	count	int

  Rows: 4

  Data:
  +---------+--------------------+-------+
  | user_id |        rmse        | count |
  +---------+--------------------+-------+
  |    2    | 0.8365581670588293 |   65  |
  |    3    |  0.54569278304564  |   43  |
  |    1    | 1.6013909969148696 |   2   |
  |    7    | 0.580723327698598  |   7   |
  +---------+--------------------+-------+
  [4 rows x 3 columns], 'rmse_by_item': Columns:
  	content	str
  	rmse	float
  	count	int

  Rows: 32

  Data:
  +-------------------------------+---------------------+-------+
  |            content            |         rmse        | count |
  +-------------------------------+---------------------+-------+
  | We have taken time to work... |  0.3882787823677063 |   3   |
  | <h2>The Journey</h2>\n<p>M... |  0.5262665531688342 |   5   |
  | <p>Testing tags and really... | 0.47539138377123885 |   3   |
  | A few years ago, I was con... |        0.5625       |   2   |
  | <p>A field of sunflowers s... |  0.6041666666666665 |   1   |
  | <p>So we finally took luci... |  0.3912757847990309 |   1   |
  | <p>A field of sunflowers s... |  0.9444777952103645 |   4   |
  | <p>In 2004 I was in Brazil... |        0.5625       |   2   |
  |   <p>i need this to work</p>  |  0.9022808981579381 |   7   |
  |     <p>I love this app</p>    |  0.9851133764215219 |   3   |
  +-------------------------------+---------------------+-------+
  [32 rows x 3 columns]
  Note: Only the head of the SFrame is printed.
  You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns., 'rmse_overall': 0.7498322978272656}]

We compared both models and we can see that the rating model performed better with a rmse of 0.71

# Recommender System Testing

*Making predictions based on different factors

1. Making recommendation for all users
    * This makes recommendations for all users seen during model creation
    * It returns the first 10 prediction

In [18]:
all_users_rank = rating_model.recommend()
all_users_rank

Columns:
	user_id	int
	title	str
	score	float
	rank	int

Rows: 80

Data:
+---------+-------------------------------+--------------------+------+
| user_id |             title             |       score        | rank |
+---------+-------------------------------+--------------------+------+
|   2191  |             First             | 3.677562069710308  |  1   |
|   2191  |       Took a long while       | 3.6764345975629626 |  2   |
|   2191  |             third             | 3.6651996873356043 |  3   |
|   2191  |             second            | 3.6500476036257683 |  4   |
|   2191  | YOUR HIGH IQ WILL KILL YOU... | 3.6358499448783337 |  5   |
|   2191  | A CHINESE VILLAGER WHO SEL... | 3.5989237759299217 |  6   |
|   2191  |           html test           | 3.588717271205002  |  7   |
|   2191  |      this is a test post      | 3.587428017150575  |  8   |
|   2191  |          with picture         | 3.586749374497646  |  9   |
|   2191  |        Welcome to Lucid       | 3.5783167859576284 |  10  |
+---------+-------------------------------+--------------------+------+
[80 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

* k=3 arguement means that it should return 3 predictions for each users
* It can basically be any amount of recommendations we want the recommender system to produce

In [19]:
all_users_rank = rating_model.recommend(k=3)
all_users_rank

Columns:
	user_id	int
	title	str
	score	float
	rank	int

Rows: 24

Data:
+---------+-------------------------------+--------------------+------+
| user_id |             title             |       score        | rank |
+---------+-------------------------------+--------------------+------+
|   2191  |             First             | 3.677562069710308  |  1   |
|   2191  |       Took a long while       | 3.6764345975629626 |  2   |
|   2191  |             third             | 3.6651996873356043 |  3   |
|    4    |       Took a long while       | 3.655878009837085  |  1   |
|    4    |             First             | 3.651079372134024  |  2   |
|    4    |             second            | 3.642135336626285  |  3   |
|    1    | YOUR HIGH IQ WILL KILL YOU... | 3.9072983689643084 |  1   |
|    1    | A CHINESE VILLAGER WHO SEL... | 3.804407706115359  |  2   |
|    1    |           html test           | 3.784994889613205  |  3   |
|    7    |             third             |  3.62337239049744  |  1   |
+---------+-------------------------------+--------------------+------+
[24 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

2.Making recommendations for new users without any information
    * created a new user with user_id = 20000
    * asked the rec_sys to recommend 3 articles for the user

In [20]:
rank_factor = rating_model.recommend(users=[20000], k=3)
rank_factor

Columns:
	user_id	int
	title	str
	score	float
	rank	int

Rows: 3

Data:
+---------+-------------------------------+--------------------+------+
| user_id |             title             |       score        | rank |
+---------+-------------------------------+--------------------+------+
|  20000  | YOUR HIGH IQ WILL KILL YOU... | 3.761588371921295  |  1   |
|  20000  | A CHINESE VILLAGER WHO SEL... | 3.6954678591377674 |  2   |
|  20000  |         THE SUNFLOWER         | 3.658081411946529  |  3   |
+---------+-------------------------------+--------------------+------+
[3 rows x 4 columns]

* it can also return a list of users

In [21]:
rank_factor = rating_model.recommend(users=[20000, 21000, 22000], k=3)
rank_factor

Columns:
	user_id	int
	title	str
	score	float
	rank	int

Rows: 9

Data:
+---------+-------------------------------+--------------------+------+
| user_id |             title             |       score        | rank |
+---------+-------------------------------+--------------------+------+
|  20000  | YOUR HIGH IQ WILL KILL YOU... | 3.761588371921295  |  1   |
|  20000  | A CHINESE VILLAGER WHO SEL... | 3.6954678591377674 |  2   |
|  20000  |         THE SUNFLOWER         | 3.658081411946529  |  3   |
|  21000  | YOUR HIGH IQ WILL KILL YOU... | 3.761588371921295  |  1   |
|  21000  | A CHINESE VILLAGER WHO SEL... | 3.6954678591377674 |  2   |
|  21000  |         THE SUNFLOWER         | 3.658081411946529  |  3   |
|  22000  | YOUR HIGH IQ WILL KILL YOU... | 3.761588371921295  |  1   |
|  22000  | A CHINESE VILLAGER WHO SEL... | 3.6954678591377674 |  2   |
|  22000  |         THE SUNFLOWER         | 3.658081411946529  |  3   |
+---------+-------------------------------+--------------------+------+
[9 rows x 4 columns]

In [22]:
rating_model.save('rating_model')

# Follower Recommender System

Read the data

In [23]:
following = pd.read_csv('nooffollowers1.csv')
following.head()

,Unnamed: 0,follower_id,name,username,email,no of follower
0,0,6,Seyi Onifade,xyluz,hngtechapps@gmail.com,273
1,273,3,Jeffrey Ogah,jeff.ogah,jeff.ogah@gmail.com,242
2,515,2,Elijah Okokon,DMatrix,okoelijah@gmail.com,29
3,544,7,Mark Essien,markessien,markessien@gmail.com,328
4,872,9,Edmund Ekott,26th_edmund,edmund.timfon@gmail.com,47

Convert the data into Sframe

In [24]:
following = tc.SFrame(following)
following.head()

Columns:
	Unnamed: 0	int
	follower_id	int
	name	str
	username	str
	email	str
	no of follower	int

Rows: 10

Data:
+------------+-------------+------------------------+---------------+
| Unnamed: 0 | follower_id |          name          |    username   |
+------------+-------------+------------------------+---------------+
|     0      |      6      |      Seyi Onifade      |     xyluz     |
|    273     |      3      |      Jeffrey Ogah      |   jeff.ogah   |
|    515     |      2      |     Elijah Okokon      |    DMatrix    |
|    544     |      7      |      Mark Essien       |   markessien  |
|    872     |      9      |      Edmund Ekott      |  26th_edmund  |
|    919     |      1      |   Eniayomi Oluwaseyi   |    eniayomi   |
|    934     |      11     |      Jenni Essien      |  j.naiaretti  |
|    956     |      20     |      albert oboh       |  albidosurest |
|    968     |      86     | Benjamin-Whyss Olumide | benjaminwhyss |
|    978     |     220     |    Toyosi Durotoye     |   corperevon  |
+------------+-------------+------------------------+---------------+
+-----------------------------+----------------+
|            email            | no of follower |
+-----------------------------+----------------+
|    hngtechapps@gmail.com    |      273       |
|     jeff.ogah@gmail.com     |      242       |
|     okoelijah@gmail.com     |       29       |
|     markessien@gmail.com    |      328       |
|   edmund.timfon@gmail.com   |       47       |
| oluwaseyieniayomi@gmail.com |       15       |
|    j.naiaretti@gmail.com    |       22       |
|    albidosurest@gmail.com   |       12       |
|   benjaminwhyss@gmail.com   |       10       |
|     corperevon@gmail.com    |       24       |
+-----------------------------+----------------+
[10 rows x 6 columns]

# Build the followers Recommender System
* We used the factorization model so our recommender system does not become bias to recommending the most popular followers to all users.

In [27]:
model_item_sim = tc.factorization_recommender.create(following, 
                                          user_id='follower_id', 
                                          item_id='name', 
                                          target='no of follower')

Preparing data set.

    Data has 878 observations with 878 users and 878 items.

    Data prepared in: 0.011902s

Training factorization_recommender for recommendations.

+--------------------------------+--------------------------------------------------+----------+

| Parameter                      | Description                                      | Value    |

+--------------------------------+--------------------------------------------------+----------+

| num_factors                    | Factor Dimension                                 | 8        |

| regularization                 | L2 Regularization on Factors                     | 1e-08    |

| solver                         | Solver used for training                         | adagrad  |

| linear_regularization          | L2 Regularization on Linear Coefficients         | 1e-10    |

| max_iterations                 | Maximum Number of Iterations                     | 50       |

+--------------------------------+--------------------------------------------------+----------+

  Optimizing model using SGD; tuning step size.

  Using 878 / 878 points for tuning the step size.

+---------+-------------------+------------------------------------------+

| Attempt | Initial Step Size | Estimated Objective Value                |

+---------+-------------------+------------------------------------------+

| 0       | 10                | Not Viable                               |

| 1       | 2.5               | Not Viable                               |

| 2       | 0.625             | 49.77                                    |

| 3       | 0.3125            | 168.443                                  |

+---------+-------------------+------------------------------------------+

| Final   | 0.625             | 49.77                                    |

+---------+-------------------+------------------------------------------+

Starting Optimization.

+---------+--------------+-------------------+-----------------------+-------------+

| Iter.   | Elapsed Time | Approx. Objective | Approx. Training RMSE | Step Size   |

+---------+--------------+-------------------+-----------------------+-------------+

| Initial | 83us         | 456.622           | 21.3687               |             |

+---------+--------------+-------------------+-----------------------+-------------+

| 1       | 23.225ms     | 430.234           | 20.7421               | 0.625       |

| 2       | 24.686ms     | 672.529           | 25.9332               | 0.625       |

| 3       | 33.733ms     | 211.753           | 14.5517               | 0.625       |

| 4       | 44.949ms     | 153.367           | 12.3841               | 0.625       |

| 5       | 51.493ms     | 170.99            | 13.0763               | 0.625       |

| 9       | 96.444ms     | DIVERGED          | DIVERGED              | 0.625       |

| RESET   | 98.411ms     | 456.625           | 21.3688               |             |

| 1       | 101.456ms    | 435.828           | 20.8765               | 0.3125      |

| 41      | 415.035ms    | 0.413083          | 0.642691              | 0.3125      |

| 46      | 455.491ms    | 0.353629          | 0.594641              | 0.3125      |

+---------+--------------+-------------------+-----------------------+-------------+

Optimization Complete: Maximum number of passes through the data reached (hard limit).

Computing final objective value and training RMSE.

       Final objective value: 0.344799

       Final training RMSE: 0.587169

# Testing the Followers Recommender System

1. Testing for all users using by recommending 3 users to our users.

In [28]:
rec_result_factorization = model_item_sim.recommend(k=3)
rec_result_factorization

Columns:
	follower_id	int
	name	str
	score	float
	rank	int

Rows: 2634

Data:
+-------------+------------------------+--------------------+------+
| follower_id |          name          |       score        | rank |
+-------------+------------------------+--------------------+------+
|      6      |      Mark Essien       | 34.425139271316894 |  1   |
|      6      |   Nneamaka Chalokwu    | 32.96994753986395  |  2   |
|      6      |    Anita Chiz-Ugeh     | 27.574119888840084 |  3   |
|      3      |    Omolola Richard     | 29.05719860702551  |  1   |
|      3      |    Tiberius Mairura    | 26.95606263786352  |  2   |
|      3      | Oluwasomidotun Odumosu | 23.71923311859167  |  3   |
|      2      |     ukadike ochem      | 18.023843788204555 |  1   |
|      2      |      Jeffrey Ogah      | 16.35144200235403  |  2   |
|      2      |    Tiberius Mairura    | 16.22310068517721  |  3   |
|      7      |   Nneamaka Chalokwu    | 36.276560746727355 |  1   |
+-------------+------------------------+--------------------+------+
[2634 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

 2. Making recommendations for new users

In [29]:
rec_result_factorization_newUsers = model_item_sim.recommend(users=[20000], k=3)
rec_result_factorization_newUsers

Columns:
	follower_id	int
	name	str
	score	float
	rank	int

Rows: 3

Data:
+-------------+---------------+--------------------+------+
| follower_id |      name     |       score        | rank |
+-------------+---------------+--------------------+------+
|    20000    | David Adedeji | 14.691708408890133 |  1   |
|    20000    |  Mark Essien  | 14.686150394974117 |  2   |
|    20000    |  Seyi Onifade | 14.438315712509517 |  3   |
+-------------+---------------+--------------------+------+
[3 rows x 4 columns]

In [30]:
model_item_sim.save('follower_rec')